################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Roulette/.vs/Roulette/v16
/Roulette/bin/x86/Debug
/Roulette/obj
/Roulette/packages
